/* reseteo basico de estilos*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/*Alinea en el centro de lo alto*/
body {

    display: flex;
    /*Alinea en el centro de lo alto*/
    align-items: center;
    /*Alinea en el centro de lo largo*/
    justify-content: center;
    min-height: 100vh;

}

.container {

    background-color: #1B244A;
    padding: 15px;
    border-radius: 15px;

}

.tablero {

    border: 5px solid white;
    padding: 50px;
    border-radius: 10px;

}

#grid-2col {
    display: flex;
    gap: 15px;

}

.boton {

    background-color: transparent;
    border: 2px solid #9aabd8;
    border-radius: 5px;
    padding: 10px;
    transition: 0.3s;
    cursor: pointer;
    font-family: 'Cursed Timer ULiL';
    font-size: 15px;
    color: #9aabd8;
}

.boton:hover {

    background-color: #9aabd8;
    color: white;
}

.team {

    font-family: 'Verdana';
    color: white;
    margin-bottom: 15px;
}

.score {
    text-align: right;
    background-color: black;
    font-family: 'Cursed Timer ULiL';
    color: #F94F6D;
    font-size: 90px;
    border-radius: 3px;
    margin-bottom: 15px;
    letter-spacing: 15px;
    padding: 30px 10px 10px;
}